body {
	background: white;
	color: white;
	font-style: bold;
}

div {
	background-color: white;
	height: 480px;
	width: 480px;
	margin: auto;
}
.box {
	background-color: teal;
	line-height: 150px;
	height: 150px;
	width: 150px;
	border: 5px dotted white;
	float: left;
	font-size: 100px;
	text-align: center;
	vertical-align: center;
}


.x {
	color: red;
	background-color: black;
}
.o {
	color: black;
}






#boxOne {
	border-top: 5px solid teal;
	border-left: 5px solid teal;
}
#boxTwo {
	border-top: 5px solid teal;
}
#boxThree {
	border-top: 5px solid teal;
	border-right: 5px solid teal;
}
/*
#boxFour {

}
#boxFive {

}
#boxSix {

}
#boxSeven {

}
#boxEight {

}
#boxNine {

}
*/








