body {
	background: white;
	color: white;
	font-style: bold;
}
h1 {
	color: teal;
	text-align: center;
	font-family: 'Monaco';
}
h2 {
	color: teal;
	text-align: left;
	font-family: 'Monaco';	
}
div {
	background-color: white;
	height: 480px;
	width: 480px;
	margin: auto;
}
.box {
	background-color: teal;
	line-height: 150px;
	height: 150px;
	width: 150px;
	border: 5px dotted white;
	float: left;
	font-size: 100px;
	text-align: center;
	vertical-align: center;
}
.reset {
	background-color: teal;
	margin: 20px auto;
	line-height: 100px;
	height: 100px;
	width: 200px;
	font-size: 50px;
	text-align: center;
	vertical-align: center;
	border-radius: 20px;
	border: 5px solid gray;
	float: left;
}
.reset:hover {
	background-color: gray;
	border: 5px solid gray;	
}
.x {
	color: black;
}
.o {
	color: white;
}
#displayNext {
	background-color: gray;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 90px;
	text-align: center;
	border-radius: 20px;
	border: 5px solid teal;
	margin: 20px 40px; 
	float: left;
}
#boxOne {
	border-top: 5px solid teal;
	border-left: 5px solid teal;
	border-radius: 20px 0 0 0;
}
#boxTwo {
	border-top: 5px solid teal;
}
#boxThree {
	border-top: 5px solid teal;
	border-right: 5px solid teal;
	border-radius: 0 20px 0 0;	
}

#boxFour {
	border-left: 5px solid teal;
}
#boxFive {
/*	intentionally left blank*/
}
#boxSix {
	border-right: 5px solid teal;
}
#boxSeven {
	border-left: 5px solid teal;
	border-bottom: 5px solid teal;
	border-radius: 0 0 0 20px;	
}
#boxEight {
	border-bottom: 5px solid teal;
}
#boxNine {
	border-right: 5px solid teal;
	border-bottom: 5px solid teal;
	border-radius: 0 0 20px 0;	
}









